extends ./layout/index.pug 
block compartircontenido 
    h1.text-center.pt-4.fw-bold #{pagina}
    main.container.mt-4
        .container-fluid.text-center.mb-4.mt-0
            a(href=`pagCrearImagenHotel?id=${hotel.id_ht}`, class='btn btn-primary btn-clock') Añadir imágenes
            a.mx-2.px-1(href=`crearHabitacion?id=${hotel.id_ht}`, class='btn btn-success btn-clock') Registrar habitación
        .container-fluid.d-flex.justify-content-center
            .row.justify-content-center
                .container-fluid.col-ms.d-flex.align-items-sm-stretch.py-0.justify-content-between
                    .container-fluid.p-0.m-2.justify-content-center
                        table.table.table-bordered.align-middle#tablaHotel
                            thead.align-middle.justify-content-center
                                tr
                                th.text-center Nombre del hotel
                                th.fw-normal=`${hotel.nombre}`
                                tr
                                th.text-center Dirección
                                th.fw-normal=`${hotel.direccion}`
                                tr
                                th.text-center E-mail
                                th.fw-normal=`${hotel.correo}`
                                tr
                                th.text-center Teléfono
                                th.fw-normal=`${hotel.telefono}`
                                tr
                                th.text-center Gerente
                                each gerente in gerentes
                                    th.fw-normal=`${gerente.nombre+' '+gerente.apellido_paterno+' '+gerente.apellido_materno}`
                                    tr                         

                    .container-fluid.p-0.m-2.col-3
                        table.table.table-striped.table-bordered.border-secondary.align-middle.table-secondary.border.border-3
                            thead
                                tr
                                th.text-center.h5.fw-bold(scope='col') Imágenes del hotel
                            tbody
                                tr
                                td.m-0.p-0  
                                    table.table.table-hover.m-0
                                        tbody
                                            each imgHotel in imagenesHotel
                                                tr
                                                td.py-0
                                                    .container-fluid.d-flex.justify-content-between.py-1
                                                        p.align-middle.m-0=`${imgHotel.nombreImagen.slice(3)}`
                                                        if rol == "administrador"
                                                            a.navbar-brand.d-flex.align-items-center(href=`/hotel/eliminar/imagen?id_img=${imgHotel.id_img}&id=${hotel.id_ht}`)
                                                                img.ms-2(src='/images/eliminar.png', alt='', width='22', height='22')
                    
                .container-fluid.m-0.p-0.mb-3.col-5
                    table.table.table-bordered.align-middle.text-center#tablaHab
                        thead
                            tr
                            th(scope='col') Categoria de la habitación
                            th(scope='col') Imagenes
                        tbody
                            each habitacion in habitaciones 
                                tr
                                td.col-2.align-middle
                                    .container-fluid.d-flex.py-1
                                        p.align-middle.m-0=`${habitacion.nombre}`
                                        .container-fluid.d-flex.justify-content-end
                                            a.navbar-brand.d-flex.align-items-center(href=`/modificarHabitacion?id_habitacion=${habitacion.id_hbt}&id_hotel=${hotel.id_ht}`)
                                                img.me-3(src='/images/editar.png', alt='', width='25', height='25')
                                            if rol == "administrador"
                                                a.navbar-brand.d-flex.align-items-center(href=`/habitacion/eliminar?id_habitacion=${habitacion.id_hbt}&id_hotel=${hotel.id_ht}`) 
                                                    img(src='/images/eliminar.png', alt='', width='25', height='25')
                                td.col-2.align-middle
                                    .container-fluid.d-flex.justify-content-center.py-1
                                        a.navbar-brand.d-flex.align-items-center(href=`/pagina/modificarImg/habitacion?id_hbt=${habitacion.id_hbt}&id_ht=${habitacion.id_ht}`) 
                                            img(src='/images/editar.png', alt='', width='25', height='25') 
