extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5
        .row 
            .col-md-12 
                h2.d.block.w-100.text-center.fw-bold #{pagina} 
                h5#message.d.block.w-100.text-center.fw-bold
            .row.justify-content-center
                .col-md-5
                    form(id='uploadForm',method="post")
                        .form-group
                            label.mb-1(for="nombre") Nombre del hotel:
                            input#nombre(type="text",required maxlength="40" placeholder="Nombre del hotel", name="nombre",class="form-control",value=nombre)
                        .form-group.mt-2
                            label.mb-1(for="direccion") Dirección del hotel:
                            input#direccion(type="text",required maxlength="100" placeholder="Dirección", name="direccion",class="form-control",value=direccion)
                        .form-group.mt-2
                            label.mb-1(for="telefono") Teléfono del hotel: 
                            input#telefono(type="text", required minlength="10" maxlength="10", onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false", placeholder="Teléfono", name="telefono",class="form-control",value=telefono)
                        .form-group.mt-2
                            label(for="correo") E-mail del hotel: 
                            input#correo(type="email", required maxlength="50" placeholder="Correo electrónico", name="correo",class="form-control",value=correo)
                        .container-fluid.d-flex
                            .form-group.mt-4.d-flex
                                label.pe-4(for="Archivo") Imagenes 
                                input#myFiles(type="file", accept='image/*' multiple)
                        .container-fluid.d-flex.justify-content-between.my-4.px-5.col-10
                            input.btn.btn-success.btn-block(type="submit" value='Registrar')
                            a(href=`/adminHoteles`, class='btn btn-danger btn-clock') Cancelar

        script.
            const form = document.getElementById('uploadForm')
            const sendFiles = async () =>{
                // imagenes
                const myFiles = document.getElementById('myFiles').files
                const formData = new FormData()
                Object.keys(myFiles).forEach(key =>{
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })
                // Datos gerente
                const hotel = {
                    nombre: document.getElementById('nombre').value,
                    direccion: document.getElementById('direccion').value,
                    telefono: document.getElementById('telefono').value,
                    correo: document.getElementById('correo').value
                }
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(hotel)
                }
                const resFile = await fetch('/validarImagenes', {
                    method: 'POST',
                    body: formData
                });
                const jsonFile = await resFile.json();
                if(jsonFile?.status == 'Correcto'){

                    // crea el gerente
                    const resDB = await fetch('/hoteles',options);
                    const jsonDB = await resDB.json();
                    // guarda la imagen
                    const resImagen = await fetch(`/guardarImagenHotel?id_create=${jsonDB?.id_create}`, {
                        method: 'POST',
                        body: formData
                    });
                    const jsonImagen = await resImagen.json();
                    location.assign(jsonImagen?.ruta);
                }else{
                    const h5 =  document.getElementById('message')
                    h5.textContent = `${jsonFile?.status}, ${jsonFile?.message}`
                }
            }
            form.addEventListener('submit', (e) => {
                e.preventDefault()
                sendFiles()
            })