extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5
        .row 
            .col-md-12 
                h2.d.block.w-100.text-center.fw-bold #{pagina}
                h5#message.d.block.w-100.text-center.fw-bold 
            .row.justify-content-center 
                .col-md-5 
                    form(id='uploadForm',method="post")
                        .form-group.mt-2    
                            label.mb-1(for="categoria") Categoria:
                        select.form-select(id="categoria",aria-label='Default select example' name="categoriaSeleccionada")
                            option(selected='',value='sin seleccionar') Selecciona una categoria
                            each categoria in categorias
                                option(value=categoria.id_cat) #{categoria.nombre}
                        .container-fluid.d-flex
                            .form-group.mt-4.d-flex
                                label.pe-4(for="Archivo") Imagenes 
                                input#myFiles(type="file", accept='image/*' multiple)
                        .container-fluid.d-flex.justify-content-center.my-4.px-5
                            input.btn.btn-success.btn-block.me-5(type="submit",value="Registrar")
                            a(href=`/cancelarHab?id_hotel=${idHotel}`, class='btn btn-danger btn-clock') Cancelar

        script.
            const form = document.getElementById('uploadForm')
            const sendFiles = async () =>{
                // imagenes
                const myFiles = document.getElementById('myFiles').files
                const formData = new FormData()
                Object.keys(myFiles).forEach(key =>{
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })
                // Datos habitacion
                const categoria = {
                    id_cat: document.getElementById('categoria').value,
                }
                // Valida si selecciono un categoria
                const options = {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(categoria)
                }
                const resSeleccionar = await fetch('/validarSeleccionarHabitacion',options);
                const jsonSeleccionar = await resSeleccionar.json();
                if (jsonSeleccionar?.status == 'Correcto'){

                    const resFile = await fetch('/validarImagenes', {
                        method: 'POST',
                        body: formData
                    });
                    const jsonFile = await resFile.json();
                    if(jsonFile?.status == 'Correcto'){

                        // crea el gerente
                        const resDB = await fetch(`/crearHabitacion?id=${#{idHotel}}`,options);
                        const jsonDB = await resDB.json();
                        // guarda la imagen
                        const resImagen = await fetch(`/guardarImagenHabitacion?id_create=${jsonDB?.id_create}`,{
                            method: 'POST',
                            body: formData
                        });
                        const jsonImagen = await resImagen.json();
                        location.assign(`${jsonImagen?.ruta}?id=${#{idHotel}}`);
                    }else{
                        const h5 =  document.getElementById('message')
                        h5.textContent = `${jsonFile?.status}, ${jsonFile?.message}`
                    }

                }else{
                    const h5 =  document.getElementById('message')
                    h5.textContent = `${jsonSeleccionar?.status}, ${jsonSeleccionar?.message}`
                }

            }
            form.addEventListener('submit', (e) => {
                e.preventDefault()
                sendFiles()
            })