extends ./layout/index.pug 
block compartircontenido 
    h1.text-center.pt-4.fw-bold #{pagina}
    main.container.mt-5#text2
        .container.text-center.mb-4.mt-0
                a(href='/crearGerente', class='btn btn-success btn-clock') Registrar gerente
        .container-fluid.d-flex.m-0.p-0 
            table.table.table-success.table-striped.table-bordered.border-success.border.border-2.align-middle.text-center
                thead
                    tr
                    th(scope='col') Nombre del gerente
                    th(scope='col') Apellido paterno
                    th(scope='col') Apellido materno
                    th(scope='col') Teléfono
                    th.col-2(scope='col') Foto del gerente
                    th(scope='col') Acciones
                    
                tbody
                    each gerente in gerentes
                        tr
                        td=`${gerente.nombre}`
                        td=`${gerente.apellido_paterno}`
                        td=`${gerente.apellido_materno}`
                        td=`${gerente.telefono}`
                        td.col-2.align-middle
                            .container-fluid.d-flex.justify-content-between.align-middle
                                p.m-0=`${gerente.nombreImagen.slice(3)}`
                                a(href=`/pagCambiarImagenGerente?id_img=${gerente.id_img}&id_gr=${gerente.id_gr}`)
                                    img.ms-2(src='/images/editar.png', alt='', width='25', height='25')
                        td.col-1.align-middle
                                    .container-fluid.d-flex.justify-content-between
                                        a.pe-3(href=`/modificarGerente?id=${gerente.id_gr}`)
                                            img(src='/images/editar.png', alt='', width='25', height='25')
                                        a(href=`/gerentes/eliminar?id=${gerente.id_gr}`)
                                            img(src='/images/eliminar.png', alt='', width='25', height='25')
                        