extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5
        .row 
            .col-md-12 
                h2.d.block.w-100.text-center.fw-bold #{pagina} 
                if (errores)
                    each error in errores
                        .alert.col.alert-danger.text-center=error.mensaje 
            .row.justify-content-center
                .col-md-5
                    form(action=`/habitacion/modificar?id_habitacion=${habitacion.id_hbt}&id_hotel=${idHotel}`,method="post")
                        .form-group.mt-4.mb-2
                        .container-fluid.d-flex.justify-content-center.my-4
                            input.btn.btn-success.btn-block.me-5(type="submit",value="Guardar")
                            a(href=`/cancelarHab?id_hotel=${idHotel}`, class='btn btn-danger btn-clock') Cancelar