extends ./layout/index.pug
block compartircontenido 
    main.container.mt-5
        .row.justify-content-center
            .col-md-12 
                h2.d.block.w-100.text-center.fw-bold #{pagina} 
                h5#message.d.block.w-100.text-center.fw-bold
            .row.justify-content-center
                .col-md-6
                    form(id='uploadForm' enctype='multipart/form-data' method="POST")
                        .container-fluid.d-flex.justify-content-center
                            .form-group.mt-3.d-flex.justify-content-center
                                label(for="Archivo") Imagenes 
                                input#myFiles(type="file", accept='image/*' multiple)
                        .container-fluid.d-flex.justify-content-between.my-4.px-5.col-8
                            input.btn.btn-success.btn-block(type="submit" value='Guardar')
                            a(href=`/cancelarHab?id_hotel=${idHotel}`, class='btn btn-danger btn-clock') Cancelar

        script.
            const form = document.getElementById('uploadForm')

            const sendFiles = async () =>{

                const myFiles = document.getElementById('myFiles').files

                const formData = new FormData()

                Object.keys(myFiles).forEach(key =>{
                    formData.append(myFiles.item(key).name, myFiles.item(key))
                })

                const response = await fetch(`/crearImagenHabitacion?id_create=${#{idHabitacion}}&directo=pasa`, {
                    method: 'POST',
                    body: formData
                })

                const json = await response.json()

                const h5 =  document.getElementById('message')
                h5.textContent = `${json?.status}, ${json?.message}`

                if (json?.status == "success"){
                    location.assign(`${json?.ruta}?id_hbt=${#{idHabitacion}}&id_ht=${#{idHotel}}`)
                }else{
                }

            }
            form.addEventListener('submit', (e) => {
                e.preventDefault()
                sendFiles()
            })