extends ./layout/index.pug 
block compartircontenido 
    h1.text-center.pt-4.fw-bold #{pagina}
    main.container.mt-4.px-5
        .container-fluid.px-5
            .row
                .card.mb-3
                    .row.g-0
                        .col-md-7.container-fluid
                            #carouselExampleControls.container.carousel.carousel-dark.slide(data-bs-ride='carousel')
                                .carousel-inner
                                    - var n = 0;
                                    while n < imagenesHotel.length
                                        if n > 0
                                            .carousel-item(data-bs-interval="2000")
                                                .container-fluid.d-flex.justify-content-center
                                                    img.img-fluid.d-block#alturaHotel(src=`/img-data-bases/hoteles/${imagenesHotel[n].dataValues.nombreImagen}`,alt='')
                                        else
                                            .carousel-item.active(data-bs-interval="2000")
                                                .container-fluid.d-flex.justify-content-center
                                                    img.img-fluid.d-block#alturaHotel(src=`/img-data-bases/hoteles/${imagenesHotel[n].dataValues.nombreImagen}`,alt='')
                                        - n++                                  
                        .col-md-5.container-fluid
                            .card-body
                                p Dirección:
                                p=`${hotel.direccion}`
                                p E-mail: 
                                p=`${hotel.correo}`
                                p Teléfono: 
                                p=`${hotel.telefono}`
        .row
            each habitacion in habitaciones 
                .col-ms.col-lg-4.mv-4             
                    .card.mb-4.p-0.container-fluid.px-0(style='width: 18rem;')
                        .container.px-0.border.border-5.border-danger
                            .container-fluid.px-0.border.border-primary.border-5
                                #carouselExampleControls1.container.carousel.carousel-dark.px-0.slide.border.border-5(data-bs-ride='carousel')
                                    .carousel-inner.px-0.border.border-secondary.border-5
                                        - var i = 0;
                                        while i < habitacion.length
                                            if i > 0
                                                .carousel-item(data-bs-interval="2000")
                                                    .container-fluid.d-flex.justify-content-center
                                                        img.img-fluid.d-block#alturaHotel(src=`/img-data-bases/habitaciones/${habitacion[i].dataValues.nombreImagen}`,alt='')
                                            else
                                                .carousel-item.active(data-bs-interval="2000")
                                                    .container-fluid.d-flex.justify-content-center
                                                        img.img-fluid.d-block#alturaHotel(src=`/img-data-bases/habitaciones/${habitacion[i].dataValues.nombreImagen}`,alt='')
                                            - i++                  
                            .card-body
                                p.card-text Categoria de la habitación:
                                p=`${habitacion[0].dataValues.nombre}`
                                 